<% if flash[:notice] %>
<div class="notice">
<h2>Problem!</h2>
<p><%= flash[:notice] %></p>
</div>
<% end %>
<%= render :partial => 'note' %>
<p class="pagination">
<!-- will_paginate(@notes) -->
</p>