<ul class="tags">
<% for artist in @artists %>

<% if artist.summary != '' -%>

<li><em><%= link_to artist.name, artist_path(artist), {:title => "Links to "+ artist.name + " Archive"}  %></em></li>

<% else %>
<li><em><%= artist.name %></em></li>
<% end %>
<% end %></ul>