<ul class="tags">
<% for tag in Tag.all %>
<% if tag.note_counter.to_i>0 %>
<li><em><%= link_to tag.name, {tags_path(:name=>tag.name)}, {:title => "Links to "+ tag.name + " Archive"}  %></em> (<%= tag.note_counter %>)</li>
<% end %>
<% end %></ul>