<h1>New Artist</h1>
<div class="form-box">

<% form_for @artist do |f| %>
	<%= render :partial => 'artist_form', :locals => { :f => f } %>
	<%= f.submit "Create", :id => 'submit_button' %>
<% end %>

<p><%= link_to 'Back', :action => 'artist_list' %></p>
