<h1>Shows</h1>


<h4><em>+ <%= link_to 'New Exhibition', new_exhibition_path %></em></h4>
  
<% for exhibition in @exhibitions %>
  
<h2><em><%= exhibition.name %></em> / <%= exhibition.created_at.to_formatted_s(:iasa) %></h2>

<h3>
<%= link_to 'Edit', edit_exhibition_path(exhibition) %> / <%= link_to 'Destroy', exhibition, :confirm => 'Are you sure?', :method => :delete %> </h3>

<% end %>

<p class="pagination">
<%= will_paginate(@exhibitions) %>
</p>