<h1>Image for: <em><%=h @static.name %></em></h1>

<%= start_form_tag({:action => 'icon_create'}, :multipart => true) %>
  <%= render :partial => 'icon_form' %>
  <%= submit_tag "Add Image" %>
<%= end_form_tag %>
<p><%= link_to 'Back', :action => 'icon_list' %></p>