<h1>Goods</h1>


<h4><em>+ <%= link_to 'New Good', :action => 'product_new' %></em></h4>
  
<% for product in @products %>
  
<h2><em><%= product.name %></em> / <%= product.created_at.to_formatted_s(:iasa) %></h2>

<h3>
<%= link_to 'Edit', :action => 'product_edit', :id => product %> / <%= link_to 'Destroy', { :action => 'product_destroy', :id => product }, :confirm => 'Are you sure?', :post => true %> </h3>

<% end %>

<p class="pagination">
<%= will_paginate(@products) %>