<h1>Information Pages</h1>


<h4><em>+ <%= link_to 'New Information Page', new_static_path %></em></h4>
  
<% for static in @statics %>
  
<h2><em><%= static.name %></em></h2>

<h3>
<%= link_to 'Edit', edit_static_path(static) %> / <%= link_to 'Destroy', static, :confirm => 'Are you sure?', :method=> :delete %> </h3>
<% end %>

<p class="pagination">
<%= will_paginate(@statics) %>
</p>