<h1>New Show</h1>
<div class="form-box">
<% form_for @exhibition, :multipart => true do |f| %>

	<%= render :partial => 'form', :locals=>{:f=>f} %>
	<%= f.submit "Create", :id => 'submit_button' %>

<% end %>
</div>

<p><%= link_to 'Back', :controller=>'admin', :action => 'exhibition_list' %></p>