html, body {
background-color:#fff;
font-family: 'Lucida Grande', Arial, sans-serif;
margin: 10px;
padding: 0px 0px 0px 0px;
text-align: left;
}
p {
font-size:11px;
line-height:16px;
color:#000000;
font-weight:normal;
margin:10px 0;
padding:0;
}


h1 {
font-size:12px;
line-height:12px;
color:#000000;
font-weight:bold;
margin:20px 0 0 0;
padding:0;
}

h2 {
font-size:11px;
line-height:11px;
color:#333;
font-weight:normal;
margin:0 0 10px 0;
padding:0;
font-style:oblique;
}


h3 {
font-size:12px;
line-height:12px;
color:#000000;
font-weight:normal;
margin:0 0 0 0;
padding:0;
text-transform:uppercase;
}

a,
a:active,
a:visited {
color: #000;
text-decoration: underline;
}

a:hover {
color: #000;
text-decoration: none;
}