<h1>Edit Good</h1>
<div class="form-box">
<% form_for @product, :html=>{:id => 'product_form'} do |f| %>

	<%= render :partial => 'form', :locals=>{ :f=> f } %>
	<%= f.submit "Update", :id => 'submit_button' %>

<% end %>
</div>

<p><%= link_to 'Back', :controller=>:admin, :action => 'product_list' %></p>
