
<div id="footer-wrap">
<div id="footer">
<p>
<a href="#top" title="Top of this page">Top</a> / <%= link_to("Home", :controller => "admin", :action => "index") %> / &copy; 2006 The Arm. All rights reserved.<br />Site by <a href="http://iamstillalive.net">I Am Still Alive</a>.
</p>
</div><!-- END footer -->
</div><!-- END footer-wrap -->
<div id="footer-clear"></div>
</body>
<!-- END Body -->
</html>