<div id="site_clear"></div>
<div id="footer">
<p><a href="#top" title="Top of this page">Top</a> / &copy; 2006 The Arm Gallery. All rights reserved.<br /> Site by <a href="http://iamstillalive.net" title="I Am Still Alive">I Am Still Alive</a>
</p>

</div><!-- END footer -->